<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <span><a href="/new">New Message</a></span>
    <% messages.forEach(message => { %>
    <div class="message-container">
      <p class="message">
        <span class="name"><%=`${message.user}: `%></span> <%=
        `${message.text}`%>
      </p>
      <p><%= `${message.added}` %></p>
    </div>

    <% }); %>
  </body>
</html>
